<h1>Friends</h1>
<p>

  <% @friends.each do |f| %>

  <ul>
    <li><%= f.friend.name %>
      <br>
      <% if f.friend.avatar %>
      Avatar:<br>
      <%= link_to image_tag(f.friend.avatar.page.url), friend_path(f) %>
      <br>
      <% end %>

      Job: <%= f.friend.job if f.friend.job %></li>
      Location: <%= f.friend.location if f.friend.location %></li>
    </ul>

    <br>
    <hr>
    <% end %>
  </p>