<h1>Photos</h1>
<p>
  <% @photos.each do |photo| %>

  <ul>
    <li><%= photo.title %></li>
    <br>
    <% if photo.image %>
    <li>Image:<br>
      <%= link_to image_tag(photo.image.thumb.url), show_photo_path %> </li><br>
      <% end %>
      <li><%= photo.description if photo.description %></li>
    </ul>
    <hr>
    <% end %>
  </p>