/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 nav {
   background-color: rgb(38, 45, 66);
   height: 65px;
   line-height: 65px;
 }

 nav ul {
   list-style-type: none;
   padding-left: 0px;
   margin: 0;
   /*line-height: 65px;*/
 }

 nav ul li {
   display: inline-block;
   margin-right: 20px;
 }

 nav ul li a {
   text-decoration: none;
   color: white;
   font-size: 12px;
   font-weight: 100;
 }

/* header {
   height: 300px;
   background-color: red;
 }*/

/* section {
   height: 400px;
   background-color: hotpink;
 }*/

/* footer {
   height: 100px;
   background-color: rebeccapurple;
 }*/

 .login {
   float: left;
 }

 .login a:visited {
   color: white;
 }

 .links {
   float: right;
 }

 .logo {
   color: white;
   font-size: 20px;
   font-weight: 600;
   margin-left: 20px;
   /*line-height: 65px;*/
 }