/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: rgb(223,223,223);
 }

 nav {
   background-color: rgb(38, 45, 66);
   height: 65px;
   line-height: 65px;
   /*padding-bottom: 5px;*/
 }

 nav ul {
   list-style-type: none;
   padding-left: 0px;
   margin: 0;
   color: white;
   /*line-height: 65px;*/
 }

 nav ul li {
   display: inline-block;
   margin-right: 20px;
 }

 nav ul li a {
   text-decoration: none;
   color: white;
   font-size: 18px;
   font-weight: 100;
 }

 main h1 {
   text-align: center;
 }

 div ul {
   list-style: none;
 }

 div ul li {
   text-align: left;
 }

 div ul li img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5%;
   padding-right: 10%;
 }

/* header {
   height: 300px;
   background-color: red;
 }*/

/* section {
   height: 400px;
   background-color: hotpink;
 }*/

/* footer {
   height: 100px;
   background-color: rebeccapurple;
 }*/

 .go-left {
   float: left;
   /*line-height: 65px;*/
   /*height: 65px;*/
 }

 nav img {
   float: left;
   padding-left: 15px;
   border-radius: 100%;
 }

 .go-left a {
   color: white;
 }

 .go-left a:visited {
   color: white;
 }

 .go-right {
   float: right;
 }

 .logo {
   color: white;
   font-size: 20px;
   font-weight: 600;
   margin-left: 20px;
   /*line-height: 65px;*/
 }

 /* GRID FRAMEWORK */

 .container {
   width: 80%;
   margin: 0 auto;
   /*Automatically centres.*/
 }

 .row {
   display: block;
   margin: 0 -10px;
 }

 .grid {
   display: inline-block;
   vertical-align: top;
   /*Inline-block automatically sets vertical align to bottom by default.*/
   margin-right: -4px;
   /*Inline-block has a 4px margin on the right side, so will push grid combinations that hit 100% onto a new line. Manually removing this margin will let them take up the entire line. Even separating the div tags in the html adds whitespace.*/
   padding: 0 10px;
   margin-bottom: 5px;
   margin-left: 1px;
   box-sizing: border-box;
   /* Changes how the element box operates: contains everything within this element. Makes the two 10px padding part of the 50% width specified by the class (grid 6). Maintains the padding and margin but eats into the width rather than adding it on top (i.e. 50% + padding + margin). */
 }

 .grid-1 {
   width: 8.333333%;
 }

 .grid-2 {
   width: 16.666666%;
 }

 .grid-3 {
   width: 25%;
 }

 .grid-4 {
   width: 33.333333%;
   border: 2px solid slategrey;
   border-radius: 25px;
/*   text-align: center;
   padding-right: 50px; */
 }

 .grid-4 ul li a {
   text-align: center;
 }

 .grid-4 .friend_avatar {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .grid-5 {
   width: 41.666666%;
 }

 .grid-6 {
   width: 50%;
 }
 .grid-7 {
   width: 58.333333%;
 }
 .grid-8 {
   width: 66.666666%;
 }
 .grid-9 {
   width: 75%;
 }
 .grid-10 {
   width: 83.333333%;
 }
 .grid-11 {
   width: 91.666666%;
 }
 .grid-12 {
   width: 100%;
 }

 /* PANELS */

 .panel {
   margin-bottom: 15px;
   background-color: white;
 }

 .panel-heading {
   padding: 15px 20px;
   font-size: 26px;
   color: white;
 }

 .panel-primary .panel-heading {
   background-color: rgb(51,188,184);
 }

 .panel-body {
   padding: 15px 20px;
 }

 .panel-footer {
   padding: 8px 20px;
   background-color: rgb(241,251,251);
 }
